<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>Start Backup</title>
	<link rel="stylesheet" type="text/css" href="{{ static('css/reset.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ static('css/main.css') }}">
    <script type="text/javascript" src="{{ static('js/vue-2.5.16.js') }}"></script>
    <script type="text/javascript" src="{{ static('js/axios-0.18.0.min.js') }}"></script>
</head>
<body>
    <div id="app">
	<div class="register_con">
		<div class="l_con fl">
			<a href={{ url("contents:databases") }} class="reg_logo"><img src={{ static("images/logo.jpg") }}
            width="100px" height="100px"></a>
            <div class="reg_slogan"></div>
            <div class="reg_slogan">Author:WuYang</div>
		</div>
		<div class="r_con fr">
			<div class="reg_title clearfix">
				<h1>WebXtraBackup - StartBackup</h1>

			</div>
			<div class="reg_form clearfix">
				<!-- 监听表单的递交事件 -->
				<!-- v-cloak避免Vue变量未渲染完成先出现变量名的问题 -->
				<form method="post" class="register_form" @submit="on_submit" v-cloak>
					<!-- post方法会做csrf认证 -->
					<!-- {{ csrf_input }} 会生成隐藏input标签 -->
                    {{ csrf_input }}
					<ul>
{#						<li>#}
{#							<!-- 接收数据 v-model -->#}
{#							<!-- 鼠标失去焦点事件@blur -->#}
{#							<!-- 展示错误：v-show -->#}
{#							<label>HostIP:</label>#}
{#							<input type="text" v-model="HostIP" @blur="check_HostIP" name="HostIP" id="Host_IP">#}
{#							<span class="error_tip" v-show="error_ip">Please enter the corrent IP</span>#}
{#						</li>#}
{#                        <li>#}
{#							<label>DBUser:</label>#}
{#							<input type="text" v-model="username" @blur="check_username" name="username" id="user_name">#}
{#							<span class="error_tip" v-show="error_name">Please enter DB user name</span>#}
{#						</li>#}
{#                        <li>#}
{#							<label>DBPassword:</label>#}
{#							<input type="password" v-model="password" @blur="check_password" name="password" id="pwd">#}
{#							<span class="error_tip" v-show="error_password">please enter the correct password</span>#}
{#						</li>#}
{#						<li>#}
{#							<label>DBPort:</label>#}
{#							<input type="text" v-model="port" @blur="check_port" name="port" id="port">#}
{#							<span class="error_tip" v-show="error_port">Please enter the correct port</span>#}
{#						</li>#}
{#                        <div class="form_group">#}
                    <label>*用户数据库：</label>
                    <select name="userdb">
                        <option v-for="userdatabase in userdatabases">[[ userdatabase.title ]]</option>
                    </select>

{#                </div>#}

						<li class="agreement">
							<input type="checkbox" v-model="allow" @change="check_allow" name="allow" id="allow">
{#                        <input type="checkbox" @change="check_allow" name="allow" id="allow">#}
							<label>Accept the usage agreement</label>
							<span class="error_tip" v-show="error_allow">Please tick the usage agreement</span>
							{% if backup_errmsg %}
							<span class="error_tip">{{ backup_errmsg }}</span>
							{% endif %}
						</li>
						<li class="reg_sub">
							<input type="submit" value="Start Backup">
						</li>
					</ul>
				</form>
			</div>
		</div>
	</div>
	</div>

    <script src="{{ static('js/backup.js') }}"></script>
</body>
</html>