<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>Index</title>
    <link rel="stylesheet" type="text/css" href="{{ static('css/reset.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ static('css/main.css') }}">
    <script type="text/javascript" src="{{ static('js/jquery-1.12.4.min.js') }}"></script>
	<script type="text/javascript" src="{{ static('js/vue-2.5.16.js') }}"></script>
    <script type="text/javascript" src="{{ static('js/axios-0.18.0.min.js') }}"></script>
</head>
<body>
	<div id="app">
	<div class="header_con">
		<div class="header">
			<a href="{{ url('contents:databases') }}" class="welcome fl">Index | </a>

            <a href="{{ url('contents:backup') }}" class="login_btn fl">| FULL Backup</a>

            <a href="{{ url('contents:incre') }}" class="login_btn fl">| INCRE Backup</a>
			<div class="fr">
              <div v-if="username" class="login_btn fl" v-cloak>
					Welcome：<em>[[ username ]]</em>
                        <span></span>
					<a href="{{ url('users:logout') }}" class="quit">Sign out</a>
				</div>
                <div v-else class="login_btn fl">
					    <a href={{ url("users:login") }}>Login</a>
					    <span>|</span>
					    <a href={{ url("users:register") }}>Register</a>
                </div>
			</div>
		</div>
	</div>
        <br/>
        <br/>

    <div class="site_top_con">
        <span>你已创建了<b>{{ backups|length }}</b>个备份</span>
    </div>
    <div class="site_con">
        <div class="site_title">
        </div>
        {% for backup in backups %}
        <ul class="site_list">
            <li><span>BackupId：</span><b>{{ backup.order_id }}</b></li>
            <li><span>CreateTime：</span><b>{{ backup.create_time }}</b></li>
            <li><span>HostIp：</span><b>{{ backup.db.title }}</b></li>
{#            <li><span>DbUser：</span><b>{{ backup.dbuser }}</b></li>#}
{#            <li><span>Db_port：</span><b>{{ backup.dbport }}</b></li>#}
            {% if backup.status == 0 %}
                <li><span>Status：</span><b>SUCCESS</b></li>
                {% else %}
                <li><span>Status：</span><b>FAILED</b></li>
            {% endif %} 
{#            <li><span>Status：</span><b>{{ backup.status }}</b></li>#}
            <li><span>Filename：</span><b>{{ backup.filename }}</b></li>
        </ul>
        {% endfor %}
    </div>

	</div>
{#    	<script type="text/javascript">#}
{#		let backups = {{ backups | safe }};#}
{#        </script>#}
    <script type="text/javascript" src="{{ static('js/common.js') }}"></script>
    <script type="text/javascript" src="{{ static('js/index.js') }}"></script>
{#    <script type="text/javascript" src="{{ static('js/showbackup.js') }}"></script>#}

</body>
</html>